{%extends "layout.html"%}
{%block content%}
<div class="resume">
        <h1>Stephen Switchenko's Education and Experience</h1>
        <p>Education: MS in Data Science @ Eastern University (expected to graduate in April 2023)</p>
        <p>MS in Business Administration from San Francisco State University (graduated in May 2017)</p>
        <p>Experience: Technical Solutions Consultant with Pyramind Consulting Inc. onsite @ Meta (September 2021 - Present)</p>
        <p>Data Support Specialist @ Perch (April 2021 - August 2021)</p>
        <p>Technical Support Specialist @ LeanData (March 2019 - March 2021)</p>
        <img src="{{url_for('static',filename='images/linkedinprofile.jpeg')}}"/ width="300" height="400">
</div>
{%endblock%}